
body{
    font-family: 'Scada', sans-serif;
    background-color:cornflowerblue;
    color: red;
    margin: 60px;
}

h1{
    color:red;
    background-color:cyan;
}

p{
    color:black;
    background-color: azure;
}

ul{
    color:indigo;
}

img{
    width: 200px;
    height: 100px;
}

li{
    background-color:tomato;
}
